.star {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  overflow: hidden;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  filter: blur(0.5px);
}

.size {
  &1 {
    width: 2.5px;
    height: 2.5px;
  }
  &2 {
    width: 3px;
    height: 3px;
  }
  &3 {
    width: 4px;
    height: 4px;
  }
}

.opacity {
  &1 {
    opacity: 0.8;
  }
  &2 {
    opacity: 0.5;
  }
  &3 {
    opacity: 0.1;
  }
}

.twinkle {
  &1 {
    animation-duration: 1s;
    animation-name: twinkling;
  }
  &2 {
    animation-duration: 0.8s;
    animation-name: twinkling;
  }
  &3 {
    animation-duration: 0.6s;
    animation-name: twinkling;
  }
}

@keyframes twinkling {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 7px 0px rgb(255, 255, 255, 0.1);
  }

  50% {
    opacity: 0.5;
    box-shadow: 0 0 7px 2px rgb(255, 255, 255, 0.5);
  }

  100% {
    opacity: 0.7;
    box-shadow: 0 0 7px 0px rgb(255, 255, 255, 0.1);
  }
}

.meteor {
  position: absolute;
  top: -10px;
  width: 2px;
  height: 80px;
  background: linear-gradient(45deg, white, rgba(255, 255, 255, 0));
  transform: rotate(45deg);
  animation: meteor 3s ease-in-out infinite;
}

.position {
  &1 {
    left: 105%;
    animation-duration: 5.5s;
    animation-delay: 3.5s;
  }

  &2 {
    left: 50%;
    animation-duration: 5s;
    animation-delay: 2s;
  }
}

@keyframes meteor {
  0% {
    transform: translateX(0) translateY(0) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  
  100% {
    transform: translateX(-1200px) translateY(1200px) rotate(45deg);
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .position {
    &1 {
      left: 190%;
    }
  
    &2 {
      left: 70%;
    }
  }
}

@media (max-width: 480px) {
  .meteor {
    will-change: transform, opacity;
  }
}
