@import '@/styles/variables.scss';

.container {
  padding: 40px 16px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}

.background {
  padding-top: 48px;
  width: 100%;
  max-width: 752px;
  height: 435px;
  box-sizing: border-box;
  background-image: url('@images/stars.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .planet {
    position: absolute;
    top: -155px;
    left: 0px;
  }

  .title {
    color: white;
    font-size: 52px;
    font-weight: 900;
    margin: 0;
    text-align: center;
  }

  .subTitle {
    color: white;
    font-size: 18px;
    margin: 16px 0 0;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .container {
    min-height: 65vh;
  }

  .main {
    .planet {
      width: 200px;
      top: -160px;
    }

    .title {
      font-size: 47px;
    }
  
    .subTitle {
      font-size: 17px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 55vh;
  }

  .main {
    .planet {
      width: 170px;
      top: -140px;
    }

    .title {
      font-size: 33px;
    }
  
    .subTitle {
      font-size: 16px;
    }
  }
}
